/* --Style the Container --*/

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* --Style the main-container set the width and styles --*/
.maincontainer {
    background-color: rgb(0, 0, 0);
    width: 280px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0px;


}

h1 {
    color: white;
}

/* --Style the input box --*/
#display {
    width: 240px;
    padding: 8px;
    height: 60px;
    border-radius: 9px;
    border: 0;
    margin-bottom: 20px;
}

/* --Style buttons --*/
.buttons {
    width: 100%;
}
.btn1
{
    width: 48px;
    height: 40px;
    border-radius: 35%;
    border: 0;
    margin: 10px 7px;
    font-size: 17px;
    background-color: rgb(230, 19, 89);
}
.btn1:hover
{
    cursor: pointer;
    background: peru;
}

.btn {
    width: 48px;
    height: 40px;
    border-radius: 35%;
    border: 0;
    margin: 10px 7px;
    font-size: 17px;
    background-color: aqua;
}

.btn:hover {
    background-color: azure;
    cursor: pointer;
}